<!DOCTYPE html>
<html>
<head>
  <title>Nup</title>
  <%= stylesheet_link_tag    "nup/application", media: "all" %>
  <%= javascript_include_tag "nup/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
